# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

UseTab: Never
IndentWidth: 4
ColumnLimit: 80

BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

BreakConstructorInitializers: BeforeComma

AllowShortIfStatementsOnASingleLine: false
PointerAlignment: Left